<!-- <app-cycle [initialValue]="value" *ngIf="!deleteCycle"></app-cycle>
<button (click)="changeValue()">Mudar valor</button>
<button (click)="destroyCycle()">Deletar</button> -->


<!-- <app-data-binding></app-data-binding>
<app-courses></app-courses> -->


<!-- <app-directive-ng-if></app-directive-ng-if> -->
<!-- <app-directive-ng-switch></app-directive-ng-switch> -->
<!-- <app-directive-ng-for></app-directive-ng-for> -->
<!-- <app-directive-ng-style></app-directive-ng-style> -->
<!-- <app-elvis-operator></app-elvis-operator> -->
<!-- <app-directive-ng-content>
    <div class="title">Title passado pro component</div>
    <div class="content">Content passado pro component</div>
</app-directive-ng-content> -->
<!-- <app-customize-directives></app-customize-directives> -->

<app-create-course></app-create-course>
<br>
<br>
<app-courses></app-courses>

<router-outlet></router-outlet>
