<div class="card">
  <div class="card-header">
    <h1>Cursos</h1>
    <a href="#" class="btn btn-primary" [routerLink]="['novo']">Novo curso</a>
    <a href="#" class="btn btn-secundary" (click)="onRefresh()">Atualizar</a>
  </div>

  <div class="card-body">
    <!-- *ngIf para só exibir a tabela caso courses$ já tenha sido carregado -->
    <table class="table table-hover" *ngIf="courses$ | async as courses; else loading">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Curso</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <!-- Antes o | async estava aqui assim: let course of courses | async, mas para ter verificação se conteúdo já foi carregado, fazemos | async na table e `as courses`guarda o valor que o for abaixo percorre  -->
        <tr *ngFor="let course of courses">
          <td>{{ course.id }}</td>
          <td>{{ course.name }}</td>
          <td>
            <button type="button" class="btn btn-warning" (click)="onEdit(course.id)">Editar</button>
            <button type="button" class="btn btn-danger">Remover</button>
          </td>
        </tr>
      </tbody>
    </table>

    <ng-template #loading>
      <span>Carregando...</span>
    </ng-template>

    <!-- <ng-template #loadingError>
      <div *ngIf="error$ | async; else loading">
        <span>Erro ao carregar cursos. Tente novamente mais tarde.</span>
      </div>

      <ng-template #loading>
        <span>Carregando...</span>
      </ng-template>
    </ng-template> -->
  </div>
</div>


<!-- <mat-card>
  <mat-card-header>
    <mat-card-title>Actions Buttons</mat-card-title>

    <mat-card-actions>
      <button mat-raised-button color="primary" [routerLink]="['novo']">Novo curso</button>
    </mat-card-actions>
  </mat-card-header>

  <mat-card-content>
    <table mat-table [dataSource]="courses" class="mat-elevation-z8 demo-table">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Curso </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button>Editar</button>
          <button mat-raised-button color="warn">Remover</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card>  -->
