.card {
  margin-top: 20px;

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      margin: 0;
    }
  }

  .card-body {
    td:last-child {
      text-align: right;
    }
    
    button:first-child {
      margin-right: 10px;
    }

  }

}



// * {
//   margin: 20px;
// }

// .mat-card-header {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }

// .mat-card-actions, .mat-card-title {
//   margin: 0;
// }

// table {
//   width: 100%;
// }
