<mat-toolbar color="primary">
  <a routerLink="" class="logo">Formulários</a>

  <ul>
    <li>
      <a routerLink="/templateForm" routerLinkActive="active-link">Form - Template Driven</a>
    </li>

    <li>
      <a routerLink="/dataForm" routerLinkActive="active-link">Form - Data Driven</a>
    </li>

    <li>
      <a routerLink="/trainningReactiveForm" routerLinkActive="active-link">Form - Trainning Reactive Form</a>
    </li>
  </ul>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>
